---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';
import HugeIcon from "@/components/fundations/icons/HugeIcon.astro";
import { Folder01Icon, FolderOpenIcon } from "@/lib/hugeicons";

export interface Props extends HTMLAttributes<'button'> {
  /** Show folder icons that change based on state */
  showFolderIcon?: boolean;
}

const { showFolderIcon = true, class: className, ...props } = Astro.props;

const classes = cn(
  'inline-flex shrink-0 items-center justify-center rounded-sm',
  'hover:bg-accent',
  className
);
---

<button
  type="button"
  class={classes}
  data-tree-item-trigger
  aria-expanded="false"
  {...props}
>
  <slot>
    {showFolderIcon && (
      <>
        <HugeIcon icon={Folder01Icon} class="size-4" data-Folder01Icon-closed />
        <HugeIcon icon={FolderOpenIcon} class="size-4 hidden" data-Folder01Icon-open />
      </>
    )}
  </slot>
</button>
